---
title: Vertex Color
weight: w003
group: graphics
files:
  - Readme.md
  - index.ts
  - index.html
---
extends /_layouts/_example
block append script
  script(type='text/javascript' src='./index.js')
block prepend script
  script#vertex-shader(type='text/glsl').
    precision highp float;
    // vertex position attribute
    attribute vec3 vPosition;
    // vertex color attribute
    attribute vec3 vColor;
    // color attribute that will be passed to the fragment shader
    varying vec3 vertexColor;
    void main(void) {
      vertexColor = vColor;
      gl_Position = vec4(vPosition, 1.0);
    }
  script#fragment-shader(type='text/glsl').
    precision highp float;
    // color attribute coming from vertex shader
    varying vec3 vertexColor;
    void main(void) {
      // output pixel color
      gl_FragColor = vec4(vertexColor.rgb, 1.0);
    }
