extends ./../../_layouts/example.jade
block script
  script(type='text/javascript').
    //Glib.WebWorker.activate("http://localhost:3000/scripts/glib.js")
    //Glib.WebWorker.activate("/scripts/glib.js'")
    game = Glib
      .createGame({
        canvas: document.getElementById("canvas"),
        autorun: true
      })
      .buildChild({
        name: "Camera",
        templates: ["Camera", "WASD"]
      }, function (entity) {
        entity.getService("Camera").activate();
        entity.getService("Transform").translateXYZ(0, 0, 5);
      })
      .buildChild({
        name: "Light",
        templates: ["DirectionalLight"]
      }, function(e){
        e.getService("Transform").rotateYawPitchRoll(Math.PI / 4, Math.PI/4, 0);
      })
      .buildChild({
        name: "Light",
        templates: ["DirectionalLight"]
      }, function(e){
        e.getService("Transform").rotateYawPitchRoll(-Math.PI / 4 * 3, -Math.PI/4, 0);
      });
    function DemoComponent(options) {
      options = options || {};
      this.enable = true;
      this.visible = true;
    }
    DemoComponent.prototype.setup = function () {
      this.time = this.node.root.getService("Time");
      this.assets = this.node.root.getService("Assets");
      this.transform = this.node.getService("Transform");
      this.renderable = this.node.getService("Renderable");
      this.assets
        //.load("Model", "/assets/models/lost_empire/lost_empire.obj")
        //.load("Model", "/assets/models/KingsTreasure.obj")
        .load("Model", "/assets/models/minecraft_world/ghv.obj")
        //.load("Model", "/assets/models/sibenik/sibenik.obj")
        .then(function (model) {
          this.renderable.model = model;
        }.bind(this))
        .catch(function() {

        }.bind(this));
    };
    DemoComponent.prototype.update = function (time) {
      return;
    };
    game.buildChild({
      name: "Treasure",
      templates: ["Model"]
    }, function (entity) {
      entity.addComponent(new DemoComponent());
    });
