extends ./../../_layouts/example.jade
block content
   code: pre#mouse-container
block script
  script(type='text/javascript').
    new Glib.Input.TouchPane({
      el: document.getElementById('canvas'),
      preventDefault: false
    }).on('changed', function(pane, e){
      document.getElementById('mouse-container').innerHTML = Object.keys(pane.state).map(function(id) {
        return JSON.stringify({
          id: pane.state[id].identifier,
          x: pane.state[id].x,
          y: pane.state[id].y
        }, null, 2)
      }).join("\n")
    });
