---
title: Orientation
weight: 4
group: input
---
extends /_layouts/_example
//- block view
//-   .canvas-container
//-     pre(oncontextmenu="return false")
//-       code.language-json
//-   script(type='text/javascript' src='https://unpkg.com/@gglib/gglib@0.1.3/bundles/gglib.umd.js')
//- block script
//-   a(name="HTML" index=3)
//-   viewcode
//-   a(name="JAVASCRIPT" index=1)
//-   script(type='text/javascript').
//-     new Gglib.Input.Orientation().on('changed', function(orientation, e){
//-       var el = $('.canvas-container pre code');
//-       el.text(JSON.stringify(orientation.state, null, 2));
//-     });
