extends ./../../_layouts/example.jade
block content
   code: pre#mouse-container
block script
  script(type='text/javascript').
    new Glib.Input.Mouse({
      el: document.getElementById('canvas')
    }).on('changed', function(mouse, e){
      document.getElementById('mouse-container').innerHTML = JSON.stringify(mouse.state, null, 2);
    });
