//- title: Mouse
//- weight: 2
extends ./../../_layouts/example
block view
  .canvas-container.capture-pane
    .cursor 
    pre(oncontextmenu="return false")
      code.language-json
  style().
    .capture-pane {
      position: relative;
      border: 1px dashed white !important;
    }
    .canvas-container {
      position: relative;
    }
    .cursor {
      position: absolute;
      width: 3rem;
      height: 3rem;
      background: red;
      border: 0px solid;
      border-radius: 500px;
      cursor: none;
      box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
    }
    .canvas-container code {
      color: #585858;
    }
  script(type='text/javascript' src='/glib.js')
block script
  a(name="HTML" index=3)
  viewcode
  a(name="JAVASCRIPT" index=1)
  script(type='text/javascript').
    var cursor = $('.cursor');
    var code = $('.canvas-container pre code');
    new Glib.Input.Mouse({
      element: $('.capture-pane')[0]
    }).on('changed', function(mouse, e){
      code.text(JSON.stringify(mouse.state, null, 2));
      cursor.css({
        top: mouse.state.y - cursor.height() / 2,
        left: mouse.state.x - cursor.width() / 2
      });
      
    }).on('click', function(mouse, e) {
      mouse.lock();
    }).on('dblclick', function(mouse, e) {
      mouse.unlock();
    });
