//- title: Gamepad
//- weight: 6
extends ./../../_layouts/example
block view
  .canvas-container
  style().
    .pad {
      display: block;
      padding: 0.5rem;
    }
    .pad .box {
      position: relative;
      background: #333;
      padding: 0.5rem;
      margin: 0.2rem 0.2rem;
      display: block;
      min-width: 135px;
      float: left;
      border: 0px;
      border-radius: 0 15px 0 15px ;
    }
    .pad .box.id {
      float: none;
    }
    .axes, .buttons {
      display: block;
      padding: 0;
      clear: both;
      float: none;
    }

    .pad label {
      color: #aaaaaa;
    }
    .pad value {
      color: #aaaaaa;
      font-size: 1.2rem;
      display: block;
      text-align: right;
    }
  script(type='text/javascript' src='/glib.js')
block script
  a(name="HTML" index=3)
  viewcode
  a(name="JAVASCRIPT" index=1)
  script(type='text/javascript').
    var container = $('.canvas-container');
    var template = 
      '<span class="pad">' + 
      '  <span class="box id"><label>ID</label><value/></span>' +
      '  <span class="box index"><label>Index</label><value/></span>' +
      '  <span class="box mapping"><label>Mapping</label><value/></span>' +
      '  <span class="box timestamp"><label>Timestamp</label><value/></span>' +
      '  <span class="box connected"><label>Connected</label><value/></span>' +
      '  <span class="axes"></span>' +
      '  <span class="buttons"></span>' +
      '</span>';
    var boxTemplate = '<span class="box"><label>ID</label><value/></span>';

    new Glib.Input.Gamepads({
      autopoll: true
    }).on('changed', function(gamepads) {
      container.empty()
      gamepads.state.forEach(function(it) {
        var el = $(template).appendTo(container);
        el.find('.id value').text(it.id);
        el.find('.index value').text(it.index)
        el.find('.mapping value').text(it.mapping)
        el.find('.timestamp value').text(it.timestamp)
        el.find('.connected value').text(it.connected)
        it.axes.forEach(function(value, index) {
          var box = $(boxTemplate).appendTo(el.find('.axes'));
          box.find('label').text(Glib.Input.GamepadAxesNames[index]);
          box.find('value').text(value.toFixed(2));
        });
        it.buttons.forEach(function(button, index) {
          var pressed = button.pressed;
          var value = button.value;
          var box = $(boxTemplate).appendTo(el.find('.buttons'));
          box.find('label').text(Glib.Input.GamepadButtonNames[index]);
          box.find('value').text(value.toFixed(2));
        });
      });
    });
