//- title: Gamepad
//- weight: 6
extends ./../../_layouts/example
block view
  .canvas-container
    pre(oncontextmenu="return false") 
      code.language-json
  script(type='text/javascript' src='/glib.js')
block script
  a(name="HTML" index=3)
  viewcode
  a(name="JAVASCRIPT" index=1)
  script(type='text/javascript').
    new Glib.Input.Gamepads({
      autopoll: true
    }).on('changed', function(gamepads) { 
      var el = $('.canvas-container pre code');
      el.text(JSON.stringify(gamepads.state, null, 2));
    });
