//- title: Keyboard
//- weight: 1
extends ./../../_layouts/example
block view
  .canvas-container
  script(type='text/javascript' src='/glib.js')
block script
  a(name="HTML" index=3)
  viewcode
  a(name="CSS" index=2)
  style().
    .canvas-container {
      display: block !important;
      padding: 0.25rem;
    }
    .canvas-container .key {
      position: relative;
      background: #333;
      padding: 0.5rem;
      margin: 0.25rem;
      display: block;
      min-width: 135px;
      float: left;
      border: 0px;
      border-radius: 0 15px 0 15px ;
    }
    .canvas-container label {
      color: #aaaaaa;
      display: block;
      padding: 2px 3px;
      height: 1rem;
      line-height: 1rem;
    }
    .canvas-container value {
      color: #aaaaaa;
      display: block;
      padding: 2px 3px;
      height: 1rem;
      line-height: 1rem;
      text-align: right;
      font-size: 1.2rem;
    }

  a(name="JAVASCRIPT" index=1)
  script(type='text/javascript').
    var container = $('.canvas-container');
    var template = '<span class="key"><label/><value/></span>';
    new Glib.Input.Keyboard().on('changed', function(keyboard, e){
      container.empty()
      keyboard.state.pressedKeys.forEach(function(code) {
        var el = $(template);
        el.find('label').text(String(code));
        el.find('value').text(Glib.Input.Keys[code] || '<unknown>');
        el.appendTo(container);
      });
    });
