//- title: Touch
//- weight: 3
extends ./../../_layouts/example
block view
  .canvas-container
    pre: code.language-json
  script(type='text/javascript' src='/glib.js')
block script
  a(name="HTML" index=3)
  viewcode
  a(name="JAVASCRIPT" index=1)
  script(type='text/javascript').
    new Glib.Input.TouchPane({
      el: $('.canvas-container')[0],
      preventDefault: false
    }).on('changed', function(pane, e){
      var el = $('.canvas-container pre code');
      el.text(Object.keys(pane.state).map(function(id) {
        return JSON.stringify({
          id: pane.state[id].identifier,
          x: pane.state[id].x,
          y: pane.state[id].y
        }, null, 2)
      }).join("\n"), null, 2);
    });
