//- title: Pixelate
extends ./../../_layouts/example
block script
  script(type='text/javascript').
    function DemoComponent(options) {
      options = options || {};
      this.index = options.index || 0;
      this.enable = true;
      this.visible = true;
    }
    DemoComponent.prototype.setup = function () {
      this.time = this.node.root.getService("Time");
      this.assets = this.node.root.getService("Assets");
      this.transform = this.node.getService("Transform");
      this.renderable = this.node.getService("Renderable");
      
      this.assets
        .loadAssets({
          Model: {
            cube: "/assets/models/roundcube.obj"
          }
        })
        .then(function (res) {
          this.renderable.model = res.Model.cube;
        }.bind(this));
    };
    DemoComponent.prototype.update = function (time) {
      //this.transform.setRotationXYZAngle(0, 1, 0, -Math.PI / 2);
      //return;
      var s = this.index / totalItems;
      var t = (s + this.time.totalMsInGame / 3000) * Math.PI * 2;
      var x = Math.sin(s * Math.PI * 2) * 5;
      var y = Math.cos(s * Math.PI * 2) * 5;

      this.transform.setPositionXYZ(x, y, Math.sin(t) * 2 - 10);
      this.transform.setScaleUniform(0.75 + Math.sin(t) * 0.25);
      this.transform.setRotationXYZAngle(0, 1, 0, t);
    };

    game = Glib
      .createGame({
        canvas: document.getElementById("canvas"),
        autorun: true
      }, function(entity) {
        var renderer = entity.getService("Renderer")
        var assets = entity.getService("Assets")
        assets.load("Effect", "/assets/shader/postprocess/pixelate.glfx").then(function (effect) {
          var material = new Glib.Graphics.Material(renderer.device, effect);
          var postEffect = new Glib.Render.Effects.Pixelate(material);
          var view = renderer.manager.views[0];
          view.steps.push(postEffect);

          demoGui(function(gui){
            gui.add(postEffect, 'offset', 0, 1);
            gui.add(postEffect, 'pixelWidth', 1, 10);
            gui.add(postEffect, 'pixelHeight', 1, 10);
          });
          
        });
      })
      .buildChild({
        name: "Camera",
        templates: ["Camera"]
      }, function (entity) {
        entity.s.Camera.activate();
        entity.s.Transform.translateXYZ(0, 0, 5);
      })
      .buildChild({
        name: "Light",
        templates: ["DirectionalLight"]
      });
    var totalItems = 12;
    for (var i = 1; i <= totalItems; i++) {
      game.buildChild({
        name: "Model" + i,
        templates: ["Model"]
      }, function (entity) {
        entity.addComponent(new DemoComponent({index: i}));
      });
    }

