@import '/tweak-ui/dist/style.css';
body,
#app,
canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}
.thin-scrollbar {
  overflow: auto;

  /* Firefox + newer spec implementations */
  scrollbar-width: thin;
  scrollbar-color: rgba(120, 120, 120, 0.6) transparent;
}

/* Chromium / WebKit */
.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.6);
  border-radius: 3px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.tweak-ui {
  max-height: calc(100vh);
  height: 100%;
  overflow: hidden;
  background: transparent;

  --twk-size: 1.25rem;
  --twk-gap: 0.125rem;
  --twk-inset: 0rem;
  --twk-radius: 0.125rem;
  --twk-width: 100%;
}

.twk-tree + .twk-group,
.twk-tree + .nw-node-view {
  height: calc(25vh);
}
.twk-tree + .twk-group > .twk-group-content {
  max-height: 100%;
  overflow: auto;
}

.twk-tree-label {
  padding-left: 0.25rem;
}
.twk-tree-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
}
.twk-tree-icon svg {
  width: 16px;
  height: 16px;
}
