extends ./../_layouts/default.jade
block content
  pre
    code.prettyprint#debug-container

  .thumbnail(style="padding:20px")
    canvas#canvas(width="800" height="400")
block script
  script(type='text/javascript').
    game = Glib
      .createGame({
        canvas: document.getElementById("canvas"),
        autorun: true
      })
      .buildChild({
        name: "Camera",
        templates: ["Camera", "WASD"]
      }, function(entity){
        entity.getService("Camera").activate();
        entity.getService("Transform").translateXYZ(0, 0, 5);
      })
      .buildChild({
        name: "Light",
        templates: ["DirectionalLight"]
      })
      .addComponent({
        setup: function(){
          var assets = this.node.root.getService("Assets");
          assets.downloadPackage({
            url: '/assets/package.json'
          });
        }
      });

      function DemoComponent(options){
        options = options || {};
        this.index = options.index || 0;
        this.enable = true;
        this.visible = true;
      }
      DemoComponent.prototype.setup = function(){
        this.time = this.node.root.getService("Time");
        this.assets = this.node.root.getService("Assets");
        this.transform = this.node.getService("Transform");
        this.renderable = this.node.getService("Renderable");
        this.assets
          .load("Model", "/assets/models/cube.json")
          .then(function (model) {
            this.renderable.model = model;
          }.bind(this));
      };
      DemoComponent.prototype.update = function(time){
        var t1 = this.time.totalMsInGame;
        var t2 = time;
        var t = (this.index / 10 * t1 + t2) * Math.PI / 1000;
        this.transform.setPositionXYZ(this.index * 2, Math.sin(t) * 2, 0);
        this.transform.setScaleUniform(1.0 + Math.sin(t) * 0.125);
        this.transform.setRotationXYZAngle(1, 0, 0, t);
      };

      function addChildren(){
        for (var i = 1; i <= 10; i++) {
          game.buildChild({
            name: "Model" + i,
            templates: ["Model"]
          }, function(entity){
            entity.addComponent(new DemoComponent({ index: i }));
          });
        }
      }
      addChildren();
