---
title: Vertex Color
group: effects
weight: fx-001
files:
  - Readme.md
  - index.ts
  - index.html
---
extends /_layouts/_example
block append script
  script(type='text/javascript' src='./index.js')
