extends /_layouts/_page
block content
  .page-content
    .container
      .row(style="padding-top: 5rem; padding-bottom: 2rem;")
        .col-6.mx-auto.col-md-4.order-md-2.flex-column.align-items-center
          img(src="/assets/logo/gglib-192.png", style="max-width: 100%;")
        .col-md-8.order-md-1.text-center.text-md-left.pr-md-5
          h1.display-4.mb-3
            span.mr-2
              span.text-light.bg-dark.pl-2.pr-2.rounded G
              span raphics
            span.mr-2 and
            span.mr-2
              span.text-light.bg-dark.pl-2.pr-2.rounded G
              span ame
            br.d-md-none
            span
              span.text-light.bg-dark.pl-2.pr-2.rounded lib
              span rary
          .lead.mb-4
            :markdown-it
              A collection of graphics and game engine related libraries
              including packages to work with webGL, 3D math, content processing, scene management,
              shader composition and more.

              Choose the tools you need or use them all and have a gg.

      .alert.alert-info(style="margin-bottom: 2rem;")
        span This is a spare time project. Frequently changed. Occassionally maintained. Mainly to learn concepts of 3D programming.

      h2 Github
      .row
        .col-md-6.col-12
          p: a(href="https://github.com/giniedp/glib" target="_blank") https://github.com/giniedp/glib
          p Get the source at github, fork and contribute
        .col-md-6.col-12
          code: pre
            :highlight(lang="bash")
              git clone git@github.com:giniedp/glib.git
              cd glib
              yarn install
              yarn build
      h2 NPM
      .row
        .col-md-6.col-12
          p: a(href="https://www.npmjs.com" target="_blank") https://www.npmjs.com/search?q=%40gglib
          :markdown-it
            gglib is split into several packages so you can reference only what you need.
            Each package is distributed with typescript definition files.

        .col-md-6.col-12
          code: pre
            :highlight(lang="bash")
              yarn add \
                @gglib/utils \
                @gglib/math \
                @gglib/graphics \
                @gglib/content \
                @gglib/content-loader \
                @gglib/effects \
                @gglib/ecs \
                @gglib/components \
                -D \
      h2 CDN
      .row
        .col-md-6.col-12
          p: a(href="https://unpkg.com/" target="_blank") https://unpkg.com/
          :markdown-it
            All packages are accessible via unpkg.com as UMD bundles.
        .col-6
        .col-md-6.col-12
          p Either references the main bundle that contains all gglib packages.
        .col-md-6.col-12
          code: pre
            :highlight(lang="html")
              <script src="https://unpkg.com/@gglib/gglib@x.x.x/bundles/gglib.umd.js"></script>
        .col-md-6.col-12
          p Or reference individual packages. However, these must be in correct order.
        .col-md-6.col-12
          code: pre
            :highlight(lang="html")
              <script src="https://unpkg.com/@gglib/utils@x.x.x/bundles/utils.umd.js"></script>
              <script src="https://unpkg.com/@gglib/math@x.x.x/bundles/math.umd.js"></script>
              <script src="https://unpkg.com/@gglib/gglib@x.x.x/bundles/gglib.umd.js"></script>

      :markdown-it
        Replace the `x.x.x` with a specific version or leave the placeholder as is so unpkg will forward you to the recent version.


      h2.mt-5 How to learn?
      p Take a look at the examples page and read the source code.

      h2.mt-5 Assets
      :markdown-it
        Assets used in the examples mostly have a CC0 license or have been distributed in a free prototype package.
        Contact me if you encounter any wrongly licensed asset. Here are some content creators and websites
        i like to mention.

        - [https://www.sharetextures.com/](https://www.sharetextures.com/)
        - [https://opengameart.org/](https://opengameart.org/)
        - [https://helloluxx.com](https://helloluxx.com)
        - [http://www.dexsoft-games.com](http://www.dexsoft-games.com)
        - [http://www.kenney.nl](http://www.kenney.nl)

      #disqus_thread.padding
    script#dsq-count-scr(src="//ginie.disqus.com/count.js" async)
    script(type='text/javascript').
      (function() {
          var d = document, s = d.createElement('script');
          s.src = '//glib.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();

