$enable-responsive-font-sizes: true;
// $primary:       #3A3F44 !default;
// $secondary:     #7A8288 !default;
$dark: #1c2128;

@import "bootstrap/scss/bootstrap";

@import "./_style/scrollbar";
@import "./_style/sample";
@import "./_style/prismjs";
@import "./_style/api";

nav.navbar {
  padding: 0 1rem;
  height: 56px;
}

nav.fixed-top + * {
  margin-top: 56px;
}
