@include breakpoint(large up) {
  .sample-view {
    .canvas-container {
      flex: 1;
      @include grid-block();
    }
    canvas {
      width: 100%;
    }
    code, pre {
      width: 100%;
      border: none;
      border-radius: 0;
      margin: 0;
      
    }
    code {
      padding: 0;
    }
  }
  .sample-container {
    //padding: 0.5rem;
    @include grid-frame();
  }
  .sample-view {
    //padding: 0.5rem;
    @include grid-block();
    flex: 1;
  }
  .sample-code {
    //padding: 0.5rem;
    @include grid-block();
    @include grid-orient(vertical);
    flex: 1;
  }
}

@include breakpoint(large down) {
  .sample-view {
    .canvas-container {
      width: 100%;
      position: relative;
      padding-bottom: 56.25%;
    }
    canvas {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
	    height: 100%;
    }
  }
}

.sample-tabs {
  @include grid-block(shrink);
  @include grid-orient(horizontal);
  a {
    display: block;
    flex: 1;
    padding: 1rem;
    line-height: 1;
    text-align: center;
  }
}
.sample-contents {
  @include grid-block(expand);
  @include grid-orient(vertical);

  code, pre {
    border: none;
    border-radius: 0;
    margin: 0;
    
  }
  code {
    padding: 0;
  }

}

.dark-theme .sample-tabs {
  background: $dark-color;

  a {
    border: 1px solid transparent;
    border-bottom: 1px solid #404040;
  }
  a:first-child {
    border-left: none;
  }
  a:hover{
    background: #2d2d2d;
  }
  a.active {
    border: 1px solid #404040;
    border-bottom: 1px solid #272822;
    background: #272822;
  }
  
}
.dark-theme .sample-contents {
  background: #272822;
  border-bottom: 1px solid #404040;
  border-top: none;
  -webkit-box-shadow: inset 0 4px 4px -4px #000, inset  0 -4px 4px -4px #000;
     -moz-box-shadow: inset 0 4px 4px -4px #000, inset  0 -4px 4px -4px #000;
          box-shadow: inset 0 4px 4px -4px #000, inset  0 -4px 4px -4px #000;
  code, pre {
    background: transparent;
  }
}
