$sidebar-size: 250px;
$sidebar-speed: .25s;
.sidebar {
  max-width:$sidebar-size;
  width: $sidebar-size;
  z-index:1;
}

.sidebar {
  position: absolute;
  height: 100%;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);

  -webkit-transition: -webkit-transform $sidebar-speed;
      -ms-transition: -ms-transform $sidebar-speed;
          transition: transform $sidebar-speed;
}
.sidebar ~ .grid-block {
  -webkit-transform: translateX($sidebar-size);
      -ms-transform: translateX($sidebar-size);
          transform: translateX($sidebar-size);

  -webkit-transition: -webkit-transform $sidebar-speed;
      -ms-transition: -ms-transform $sidebar-speed;
          transition: transform $sidebar-speed;
}

.sidebar-off {
  .sidebar {
  -webkit-transform: translateX(-$sidebar-size);
      -ms-transform: translateX(-$sidebar-size);
          transform: translateX(-$sidebar-size);
  }
  .sidebar ~ .grid-block {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  }
}

.dark-theme .sidebar {
  background: $dark-color;
  header {
    color: #666;
  }
  li:first-child {
    border-top: 1px solid #333;
  }
  li {
    border-bottom: 1px solid #333;
  }
  a {
    color: $secondary-color;
  }
  a:hover{
    background: #2d2d2d;
    color: $secondary-color;
  }
  a.active {
    background: #2d2d2d;
  }
}

