---
title: House
draft: true
group: ecs
---
extends /_layouts/_example
block append script
  script(type='text/javascript' src='./index.js')
block script
  a(name="JS")
  script(type='text/javascript').
    Gglib.Content.pipelinePreloader('ShaderEffect', function(context) {
      // redirect the download path for basicEffect
      if (context.source === 'basicEffect') {
        context.sourceType = '.glfx'
        context.source = '/assets/shader/basic.glfx'
      }
    });

    class DemoComponent {
      constructor(modelPath) {
        this.modelPath = modelPath
        this.enable = true;
        this.visible = true;
      }

      setup() {
        this.entity.getServices({
          time: "root:Time",
          device: "root:Device",
          assets: "root:Assets",
          transform: "Transform",
          renderable: "Renderable"
        }, this)

        this.assets
          .load("Model", this.modelPath)
          .then((model) => {
            this.renderable.model = model;
          });
      }

      update() {

      }
    }

    game = Gglib.Ecs
      .createGame({
        canvas: document.getElementById("canvas"),
        autorun: true
      })
      .buildEntity({
        name: "Camera",
        templates: ["Camera", "WASD"]
      }, (child) => {
        child.services.Camera.activate();
        child.services.Transform.translateXYZ(0, 0, 5);
      })
      .buildEntity({
        name: "Light",
        templates: ["DirectionalLight"]
      });
    game.buildEntity({
      name: "House",
      templates: ["Model"],
    }, (child) => {
      child.addComponent(new DemoComponent("/assets/models/medieval/house.obj"));
      child.services.Transform.rotateXYZAngle(0, 1, 0, Math.PI * 0.25);
    });
