//- title: Triangle
//- weight: 1
extends ./../../_layouts/example.jade
block script
  a(name="HTML" index=3)
  viewcode

  a(name="GLSL" index=2)
  .grid-content
    dl.mt.no-mb
      dt Vertex shader
      dd.no-mb A minimal vertex shader. Uses the vertex position without any transformation.

  script#vertex-shader(type='text/glsl').
    attribute vec3 vPosition;
    void main(void) {
      gl_Position = vec4(vPosition, 1.0);
    }
  .grid-content
    dl.mt.no-mb
      dt Fragment shader
      dd.no-mb A minimal fragment shader. Simply renders a white pixel.

  script#fragment-shader(type='text/glsl').
    void main(void) {
      gl_FragColor = vec4(1.0, 1.0, 1.0, 1.0);
    }

  a(name="JS" index=1)
  script(type='text/javascript').
    // Create the graphics device
    var device = new Glib.Graphics.Device({
      // Give it a context element to work with.
      // If the 'canvas' option is missing, the device will 
      // automatically create a canvas element. 
      canvas: document.getElementById('canvas')
    });

    // Create a shader program with vertex and fragment shaders.
    // Here the source code is grabbed from the shader script tags.
    var program = device.createProgram({
      vertexShader: document.getElementById('vertex-shader').textContent,
      fragmentShader: document.getElementById('fragment-shader').textContent
    });

    // Define the triangle vertices. In this example each triangle vertex 
    // is attributed with a position value only. A vertex buffer must be fed
    // with a data array and a layout that defines how that data is bound to 
    // the shader programs.
    var vertices = device.createVertexBuffer({
      layout: {
        // The vertex shader expects a vertex attribute with the name 
        // 'vPosition' thus the key here is named 'vPosition'
        vPosition: {
          // The vPosition attribute in the shader is declared to be a 
          // vec3 type. A vec3 is composed of 3 floats.
          type: "float", offset: 0, elements: 3 
        }
      },
      // Here data is simply a sequence of floats. 
      // Each 3 floats define a vertex position
      data: [
      //  X  |  Y  | Z
        -0.5, -0.5, 0.0, // vertex 1
         0.5, -0.5, 0.0, // vertex 2
         0.0,  0.5, 0.0  // vertex 3
      ]
    });

    // This will frequently call the passed function. 
    Glib.utils.loop(function() {
      // If the size of the canvas is controlled by css (as it is on this page)
      // this will resize the drawing buffer to match that size.
      device.resize();

      // Clear the screen color and depth. 
      // Here color is set to a built in color value of CornflowerBlue
      device.clear(Glib.Graphics.Color.CornflowerBlue);

      // Set the vertex buffer that needs to be rendered
      device.vertexBuffer = vertices;
      // Now the shader program
      device.program = program;
      // And finally call drawPrimitives.
      // This call instructs to 
      // - draw the vertex buffer as a TriangleList
      // - starting at the beginning of the buffer (0 offset)
      // - draw 3 vertices
      device.drawPrimitives('TriangleList', 0, 3);
    });

