---
title: Gamepad
weight: 6
group: input
files:
  - Readme.md
  - index.ts
  - index.html
---
extends /_layouts/_example
block append script
  script(type='text/javascript' src='./index.js')
block content
  pre.canvas-container
