extends /_layouts/_page
block content
  .container.pt-4
    h1 Packages
    .row
      each pkg in project.packages
        .col-sm-12.p-3
          .card.shadow-sm
            .card-body
              h5.card-title
                a(href="/docs/" + pkg + ".html")= project.pkgName(pkg)
              if pkg == "math"
                .card-text A 3D math library.
              if pkg == "utils"
                .card-text Common utility functions that are used by most of the other packages.
              if pkg == "input"
                .card-text Keyboard, Mouse, Gamepad and VR device abstractions can be found here
              if pkg == "noise"
                .card-text Procedural noise generation.
              if pkg == "graphics"
                .card-text WebGL abstraction and the heart of gglib.
              if pkg == "content"
                .card-text This is the content pipeline.
              if pkg == "terrain"
                .card-text A simple terrain implementation.
              if pkg == "effects"
                .card-text Shader and effect composition library.
              if pkg == "render"
                .card-text The render system.
              if pkg == "ecs"
                .card-text A lightweight but powerful entity component system.
              if pkg == "gglib"
                .card-text Bundles all other packages in one namespace.

