doctype html
html(lang="en")
  head
    block meta
      meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    block style
      style.
        body { margin: 0; position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; }
        canvas { width: 100%; height: 100%; }
        #tweak-ui { position: fixed; top:0; right: 0; }
body
  block content
    #tweak-ui
    canvas#canvas(oncontextmenu="return false;")
  block script
    link(href="https://unpkg.com/tweak-ui@0.0.x/dist/tweak-ui.css" rel="stylesheet")
    script(type='text/javascript' src='https://unpkg.com/tweak-ui@0.0.x/dist/tweak-ui.umd.js')
    script(type='text/javascript' src='./gglib.umd.js')
