---
title: Multiple Viewports
weight: 2
group: render
files:
  - Readme.md
  - index.ts
  - index.html
---
extends /_layouts/_example
block append script
  script(type='text/javascript' src='./index.js')
