---
title: Custom Pipeline
weight: 2
group: content
---
extends /_layouts/_example
block append script
  script(type='text/javascript' src='./index.js')
block prepend script
  script(type="text/x-pixels" id="mario.pixels").
    |   11111    |
    |  111111111 |
    |  2223303   |
    | 2323330333 |
    | 23223330333|
    |  233330000 |
    |   333333   |
    |  11411411  |
    | 1114114111 |
    |111144441111|
    |331434434133|
    |333444444333|
    |334444444433|
    |  444  444  |
    | 222    222 |
    |2222    2222|
  script(type="text/x-pixels" id="sonic.pixels").
    |  000000000000   00  |
    | 044444444444400040  |
    |  04440344444444440  |
    |   0440334444444440  |
    |    0403444444444440 |
    |   04444444477744440 |
    |  044444444777774440 |
    | 044444444477770470  |
    |0000004444477770470  |
    |    044444447770 000 |
    |   0444443337777330  |
    |  04444443333333330  |
    | 00000000033333330   |
    |        0300000000   |
    |       030043330000  |
    |      0307703330000  |
    |      0077770330770  |
    |       07777003070   |
    |        077004000    |
    |         004000      |
    |         00401100    |
    |        00110011700  |
    |        011171001110 |
    |        0117111101110|
    |        0000000000000|
  script(type="text/x-pixels" id="megaman.pixels").
    |              000              |
    |            000660             |
    |           04440660            |
    |          0444440000           |
    |          04444406640          |
    |         064444440040          |
    |       00064437774470          |
    |     0066064377003070          |
    |    06666604377003070   0000   |
    |   046666604337773730000444000 |
    |   0444606604300003006604666060|
    |   0444040660333330666604444040|
    |    04404406600000666660444000 |
    |     044440666666600000 0000   |
    |      044066666660             |
    |       0044666660              |
    |        044444440              |
    |       0644444460              |
    |      066644446660             |
    |     04666600666440            |
    |   00444660  044440            |
    | 004444440   0444000           |
    |044444440   044444440          |
    |000000000   000000000          |
