---
title: Custom Pipeline
weight: 2
group: content
files:
  - Readme.md
  - index.ts
  - index.html
  - mario.pixels
  - megaman.pixels
  - sonic.pixels
---
extends /_layouts/_example
block append script
  script(type='text/javascript' src='./index.js')
