extends ./../_layouts/default.jade
block content
  #keyboard-container.well
block script
  script(type='text/javascript').

    var keyboard = new Glib.Input.Keyboard();
    keyboard.on('changed', function(){
      var keys = keyboard.state.pressedKeys.map(function(key){
        return Glib.Input.KeyCodeName[key];
      });

      document.getElementById('keyboard-container').innerHTML = JSON.stringify({
        keys: keys,
        state: keyboard.state
      });
    });
