//- title: Sprite Batch
extends ./../../_layouts/example.jade
block script
  script(type='text/javascript').
    var device = new Glib.Graphics.Device({
      canvas: 'canvas'
    });
    self.device = device;
    var spriteBatch = device.createSpriteBatch();
    var texture2 = device.createTexture({ data: "/assets/textures/proto_green.png" });
    var texture1 = device.createTexture({ data: "/assets/textures/proto_red.png" });
    var texture3 = device.createTexture({ data: "/assets/textures/proto_blue.png" });
    
    Glib.utils.loop(function(){
      device.resize();
      
      var t = Glib.utils.getTime();
      
      device.clear(0xFF000000);
      device.BlendState = Glib.Graphics.BlendState.AlphaBlend;
      spriteBatch.begin();
      var count = 5;
      for (var i = 0; i < count; i += 1) {
        spriteBatch.draw({
          texture: texture1,
          dstX: 5 + (100 + 5) * i,
          dstY: 5 + (50 + 5) * i,
          dstWidth: 100,
          dstHeight: 100,
          rotation: i != 0 ? 0 : t / 1000,
          originX: 0.5,
          originY: 0.5
        });
      }
      
      for (var i = 0; i < count; i += 1) {
        spriteBatch.draw({
          texture: texture2,
          dstX: 25 + (100 + 5) * i,
          dstY: 25 + (50 + 5) * i,
          dstWidth: 100,
          dstHeight: 100,
          rotation: i != 0 ? 0 : t / 1000,
          originX: 0.5,
          originY: 0.5
        });
      }
      
      for (var i = 0; i < count; i += 1) {
        spriteBatch.draw({
          texture: texture3,
          dstX: 45 + (100 + 5) * i,
          dstY: 45 + (50 + 5) * i,
          dstWidth: 100,
          dstHeight: 100,
          rotation: i != 0 ? 0 : t / 1000,
          originX: 0.5,
          originY: 0.5
        });
      }
      
      spriteBatch.end();
    });
    
