//- ignore: true
doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="/style.css")
    script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js')
    script.reference(type='text/javascript' src='/es5/glib.js')
body.grid-frame
  .grid-block.vertical
    .grid-block.shrink.menu-group.dark
      include ./_includes/menu-bar.jade
    .grid-block
      #example-menu.grid-block.vertical.card
        each value, key in examples
          if value.$files
            section.grid-content.block-list.small-12.shrink
              header= value.$title
              ul
                each meta in value.$files
                  li: a()&attributes({ href: '#' + meta.$href })=meta.$title

      #example-frame.grid-block.horizontal.shim-background
        iframe.small-12(src)

  script(type='text/javascript').
    function onHashChanged() {
      var hash = location.hash;
      if (hash && /^#\/examples\/.*\.html/.test(hash)) {
        $("#example-frame iframe").attr('src', hash.replace('#', ''));
      }
    }
    window.addEventListener("hashchange", onHashChanged, false);
    onHashChanged();
