doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/style.css")
    script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js')
body.grid-frame
  .grid-block.vertical
    .grid-block.shrink.menu-group.dark
      include ./_includes/menu-bar.jade
    .grid-block
      .grid-content
        h1 Glib Framework
