@import "prism/themes/prism-okaidia";
@import "prism/plugins/autolinker/prism-autolinker";
@import "prism/plugins/line-numbers/prism-line-numbers";

@import "style/settings";
@import "foundation-apps/scss/foundation";
@import "style/scrollbars";
@import "style/toolbar";
@import "style/sidebar";
@import "style/samples";
@import "style/dat-gui";

iframe {
  border: none;
  width: 100%;
}
img {
  vertical-align:initial;
}
.mt { margin-top: 1rem; }
.ml { margin-left: 1rem; }
.mr { margin-right: 1rem; }
.mb { margin-bottom: 1rem; }

.no-mt { margin-top: 0; }
.no-ml { margin-left: 0; }
.no-mr { margin-right: 0; }
.no-mb { margin-bottom: 0; }

.dark-theme {
  background: #1e1e1e;
  color: $secondary-color;
  a {
    color: $secondary-color;
  }
  h1,h2,h3,h4,h5,h6 {
    color: $secondary-color;
  }
}
