//- ignore: true
doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="/page.css")
    script(type='text/javascript' src='/page.js')
    script(type='text/javascript' src='/glib.js')
body.grid-frame.dark-theme.sidebar-off
  .grid-block.vertical
    .grid-block.shrink
      include ./_includes/menu-bar.jade
    .grid-block.horizontal
      .sidebar.grid-block.vertical
        each item in samples.folders
          if item.files.length
            section.grid-content.block-list.small-12.shrink
              header= item.title
              ul
                each file in item.files.sort(function(a, b) { return (Number(a.weight)||1000) - (Number(b.weight)||1000); })
                  if file.title
                    li: a.sample-link()&attributes({ href: '#' + file.href })= file.title

      .grid-block.vertical
        .grid-block.shrink
          .toolbar
            a.js-toggle-menu.material-icons menu
            a.js-prev-sample.material-icons chevron_left
            strong.flex.sample-title.text-center
            a.js-next-sample.material-icons chevron_right
        iframe.sample-iframe.grid-block(src)
  script(type='text/javascript').
    GlibSamples.bootSampleMenu({
      links: 'a.sample-link',
      title: '.sample-title',
      iframe: '.sample-iframe'
    });
    $('.js-prev-sample').click(function(e) {
      e.preventDefault();
      GlibSamples.openPrevSample();
    });
    $('.js-next-sample').click(function(e) {
      e.preventDefault();
      GlibSamples.openNextSample();
    });
    $('.js-toggle-menu').click(function(e) {
      e.preventDefault();
      $('body').toggleClass('sidebar-off');
    });
    $('.sidebar').mouseleave(function() {
      $('body').addClass('sidebar-off');
    });
    $('a.sample-link').click(function() {
      $('body').addClass('sidebar-off');
    });
