//- ignore: true
doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/page.css")
    script(type='text/javascript' src='/page.js')
    script(type='text/javascript').
      var uiInstance = null;
      var ui = function(callback){
        if (!uiInstance) {
          uiInstance = new dat.GUI({autoPlace: false});
          document.getElementById('dat-gui').appendChild(uiInstance.domElement);
        }
        callback(uiInstance);
      };

body.sample-container.dark-theme
  .sample-view
    block view
      .canvas-container
        canvas#canvas(oncontextmenu="return false;")
      #dat-gui
      script(type='text/javascript' src='/glib.js')
  .sample-code
  .sample-source
    block script
  script(type='text/javascript').
    GlibSamples.bootSample({
      view: '.sample-view',
      code: '.sample-code',
      source: '.sample-source'
    });
