//- title: Draw Quad
extends ./../_layouts/default.jade
block script

  script#vertex-shader(type='text/ymlsl').
    precision highp float;
    precision highp int;
    attribute vec3 position;
    attribute vec2 texture;
    varying vec2 texCoord;
    void main(void) {
      texCoord = texture;
      gl_Position = vec4(position, 1.0);
    }
  script#fragment-shader(type='text/ymlsl').
    precision highp float;
    precision highp int;
    // @filter LinearWrap
    // @binding texture
    uniform sampler2D textureSampler;
    varying vec2 texCoord;
    void main(void) {
      gl_FragColor = vec4(texture2D(textureSampler, texCoord).rgb, 1.0);
    }

  script(type='text/javascript').
    var device = new Glib.Graphics.Device({canvas: 'canvas'});
    window.device = device;
    
    var texture = device.createTexture({ data: "/assets/textures/proto_blue.png" });
    var program = device.createProgram({
      vertexShader: document.getElementById('vertex-shader').textContent,
      fragmentShader: document.getElementById('fragment-shader').textContent
    });
    
    Glib.utils.loop(function () {
      device.program = program;
      device.program.uniforms.texture.set(texture);
      device.drawQuad(true);
    });
