//- title: RenderTarget
extends ./../_layouts/default.jade
block script
  script#vertex-shader(type='text/glsl').
    precision highp float;
    precision highp int;

    // @binding position
    attribute vec3 vPosition;

    // @binding color
    attribute vec3 vColor;

    varying vec3 vertexColor;
    void main(void) {
      vertexColor = vColor;
      gl_Position = vec4(vPosition, 1.0);
    }
  script#fragment-shader(type='text/glsl').
    precision highp float;
    precision highp int;
    varying vec3 vertexColor;
    void main(void) {
      gl_FragColor = vec4(vertexColor.rgb, 1.0);
    }
  script#vertex-shader2(type='text/ymlsl').
    precision highp float;
    precision highp int;

    // @binding position
    attribute vec3 vPosition;
    // @binding texture
    attribute vec2 vTexture;

    varying vec2 texCoord;
    void main(void) {
      texCoord = vTexture;
      gl_Position = vec4(vPosition, 1.0);
    }
  script#fragment-shader2(type='text/ymlsl').
    precision highp float;
    precision highp int;

    // @binding texture
    // @filter PointClamp
    uniform sampler2D textureSampler;
    varying vec2 texCoord;
    void main(void) {
      vec3 color = texture2D(textureSampler, texCoord).rgb;
      gl_FragColor = vec4(color, 1.0);
    }
  script(type='text/javascript').
    var device = new Glib.Graphics.Device({canvas: 'canvas'});
    var width = device.canvas.width;
    var height = device.canvas.height;
    var spriteBatch = device.createSpriteBatch();
    var program = device.createProgram({
      vertexShader: document.getElementById('vertex-shader').textContent,
      fragmentShader: document.getElementById('fragment-shader').textContent
    });
    var indices = device.createIndexBuffer({
      dataType: "ushort",
      data: [0, 1, 2]
    });
    var vertices = device.createVertexBuffer({
      layout: {
        position: {
          type: "float",
          offset: 0,
          elements: 3
        },
        color: {
          type: "float",
          offset: 12,
          elements: 3
        }
      },
      dataType: "float",
      data: [
        -1.0, -1.0, 0.0, 1, 0, 0,
        1.0, -1.0, 0.0, 0, 1, 0,
        0.0, 1.0, 0.0, 0, 0, 1
      ]
    });

    var renderTarget = device.createRenderTarget({
      width: 128,
      height: 64,
      depthFormat: Glib.Graphics.DepthFormat.DepthStencil
    });
    var texture = device.createTexture({ data: assetPath("/assets/textures/proto_blue.png") });
    var program2 = device.createProgram({
      vertexShader: document.getElementById('vertex-shader2').textContent,
      fragmentShader: document.getElementById('fragment-shader2').textContent
    });

    Glib.utils.loop(function () {
      device.setRenderTarget(renderTarget);
      device.viewportState = { width: renderTarget.width, height: renderTarget.height };
      device.clear(Glib.Graphics.Color.CornflowerBlue);

      device.program = program;
      device.indexBuffer = indices;
      device.vertexBuffer = vertices;
      device.drawIndexedPrimitives();

      device.setRenderTarget(null);
      device.viewportState = { width: width, height: height };

      device.program = program2;
      device.program.setUniform("texture", renderTarget);
      device.drawQuad();
      device.program.setUniform("texture", null);
    });

