//- title: Sprites
extends ./../_layouts/default.jade
block script
  script(type='text/javascript').
    var device = new Glib.Graphics.Device({
      canvas: 'canvas'
    });
    window.device = device;
    var spriteBatch = device.createSpriteBatch();
    var image = new Image();
    image.onload = renderFrame;
    image.src = '/assets/textures/proto_blue.png';

    function renderFrame() {
      var texture = device.createTexture({data: image});
      var options = {
        texture: texture,
        dstWidth: 100,
        dstHeight: 100
      };

      var d = 0;// Math.PI / 100;
      var r = 0;
      Glib.utils.loop(function(){
        r += d;
        device.clear(0x000000FF);
        spriteBatch.begin();
        var count = 10;
        for (var i = 0; i < count; i += 1) {
          for (var j = 0; j < count; j += 1) {
            options.dstX = (i * options.dstWidth + i * 5);
            options.dstY = (j * options.dstHeight + j * 5);
            //options.rotation = r + i + j;
            options.originX = 0.5;
            options.originY = 0.5;
            options.color = Glib.Graphics.Color.Blue.rgba;
            spriteBatch.draw(options);
          }
        }
        spriteBatch.end();
      });

    }
    window.bactch = spriteBatch;
