//- title: Texture - Video
extends ./../_layouts/default.jade
block script
  script#vertex-shader(type='text/glsl').
    precision highp float;
    precision highp int;
    // @binding position
    attribute vec3 vPosition;
    // @binding texture
    attribute vec2 vTexture;
    varying vec2 texCoord;
    void main(void) {
      texCoord = vTexture;
      gl_Position = vec4(vPosition, 1.0);
    }
  script#fragment-shader(type='text/glsl').
    precision highp float;
    precision highp int;
    uniform sampler2D texture;
    varying vec2 texCoord;
    void main(void) {
      gl_FragColor = vec4(texture2D(texture, texCoord).rgb, 1.0);
    }
  script(type='text/javascript').
    var device = new Glib.Graphics.Device({canvas: 'canvas'});
        
    var video = document.createElement('video');
    video.src = assetPath("/assets/sintel.mp4");
    video.addEventListener("canplaythrough", function() {
      video.play();
    }, true);
    
    var texture = device.createTexture({ data: video });
    
    var program = device.createProgram({
      vertexShader: document.getElementById('vertex-shader').textContent,
      fragmentShader: document.getElementById('fragment-shader').textContent
    });

    var vars = {
      flipY: true
    };

    Glib.utils.loop(function(){
      device.program = program;
      device.program.setUniform("texture", texture);
      device.drawQuad(vars.flipY);
    });

    demoGui(function(gui){
      gui.add(vars, 'flipY');
    });
    
