//- ignore: true
doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
    script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript' src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js')
    script(type='text/javascript' src='/scripts/glib.js')
    style().
      .container {
        min-width: 1140px;
      }
    block head
body
  .container
    .page-header
      h1 Glib Framework
    .row
      .col-xs-3
        each section, index in sections
          .panel.panel-default
            .panel-heading= section.title
            .list-group
              each page in section.pages
                a.list-group-item(href=page.href)
                  span=page.title
      .col-xs-9
        #example-content
          block content
            .thumbnail(style="padding:20px")
              canvas#canvas(width="800" height="400")
        pre
          code.prettyprint#example-code
  #example-scripts
    block script
  script(type='text/javascript').
    var entityMap = {
      "&": "&amp;",
      "<": "&lt;",
      ">": "&gt;",
      '"': '&quot;',
      "'": '&#39;',
      "/": '&#x2F;'
    };
    function escapeHtml(string) {
      return String(string).replace(/[&<>"'\/]/g, function (s) {
        return entityMap[s];
      });
    }
    function removeIndents(string) {
      var lines = string.split("\n");
      var min = 10;
      for (var i = 0; i<lines.length; i++){
        var line = lines[i];
        if (!line) continue;
        var match = line.match(/^(\s+)/)
        if (!match) return string;
        min = Math.min(min, match[1].length);
      }
      for (var i = 0; i<lines.length; i++){
        var line = lines[i];
        if (!line) continue;
        lines[i] = line.substring(min);
      }
      return lines.join("\n");
    }
    var text = removeIndents($('#example-content').html()) + "\n" + removeIndents($('#example-scripts').html());
    $('#example-code').html(escapeHtml(text));
