doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0")
    link(rel="icon" type="image/svg+xml" href="/assets/gg.svg" sizes="any")
    link(rel="stylesheet" href=assetPath("/index.css"))
    block head

body.d-flex.flex-column(style="position: absolute; top:0; right:0; bottom: 0; left:0")
  nav.navbar.navbar-expand.navbar-dark.bg-dark.fixed-top.justify-content-center
    ul.navbar-nav.container
      li.text-left
        a.navbar-brand(href="/")
          img(src="/assets/gg.svg" width=30)
          span.ml-2 gglib
      .flex-fill
      li: a.nav-link(href="/examples") Examples
      li: a.nav-link(href="/docs") Docs

  block content
  block script
