doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0")
    link(rel="stylesheet" href=assetPath("/index.css"))
    block head

body.d-flex.flex-column(style="position: absolute; top:0; right:0; bottom: 0; left:0")
  nav.navbar.navbar-expand.navbar-dark.bg-dark.fixed-top.justify-content-center
    ul.navbar-nav
      li.nav-item
        a.nav-link(href="/") [G]glib
      li.nav-item
        a.nav-link(href="/examples") Examples
      li.nav-item
        a.nav-link(href="/docs") Docs

  block content
  block script
